/*navigation bar  */
header{
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px;
    position: center;
    top:0;
    left: 200px;
    right: 10px;
    
}

ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent ;
  }
  
  li {

    font-size: 4vh;
    margin-top: 20px;

  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(143, 0, 0);
  }


  /* body */
  body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;

}
    div {
        text-align: left;
        color:  white;
        
    }
    p{
        margin-left: 60px;
        font-size: 1rem;

    }

    h3{
        color: white;
        margin-top: 60px;
        margin-left: 100px;
        margin-bottom: 60px;
        font-size: 3rem;
        text-shadow: 1px 1px 10px #110a03;
    }